<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fruit" class="com.pojo.Fruit">
        <property name="fruitName" value="orange"></property>
        <property name="fruitCountry" value="China"></property>
        <property name="fruitWeight" value="10"></property>
        <property name="fruitPrice" value="200"></property>
    </bean>
</beans>